### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
/.vs
/src/Sxg-Eval-Platform-Api/.vs
/src/Sxg-Eval-Platform-Api/bin
/src/Sxg-Eval-Platform-Api/obj
/src/Sxg-Eval-Platform-Api/publish
/src/Sxg-Eval-Platform-Api/src/Sxg-Eval-Platform-Api/publish
/Sxg.EvalPlatform.API.Storage/bin/Debug/net8.0
/Sxg.EvalPlatform.API.Storage/obj
/Sxg.EvalPlatform.API.Storage.UnitTests/bin/Debug/net8.0
/Sxg.EvalPlatform.API.Storage.UnitTests/obj
/SXG.EvalPlatform.Common/bin/Debug/net8.0
/SXG.EvalPlatform.Common/obj
/Sxg.EvalPlatform.API.Storage/bin/Release/net8.0
/SXG.EvalPlatform.Common/bin/Release/net8.0
/src/APIs/.vs/Sxg.Eval.Platform.Api
/src/APIs/SXG.EvalPlatform.API/bin
/src/APIs/SXG.EvalPlatform.API/obj
/src/APIs/SXG.EvalPlatform.API/publish
/src/APIs/Sxg.EvalPlatform.API.Storage/bin
/src/APIs/Sxg.EvalPlatform.API.Storage/obj
/src/APIs/Sxg.EvalPlatform.API.Storage.UnitTests/bin/Debug/net8.0
/src/APIs/Sxg.EvalPlatform.API.Storage.UnitTests/obj
/src/APIs/SXG.EvalPlatform.Common/bin
/src/APIs/SXG.EvalPlatform.Common/obj
/src/APIs/.vs/CopilotSnapshots/109403A4B69FE54FA50AFFD7A9C2E995
/src/APIs/Sxg.EvalPlatform.API.IntegrationTests/bin/Debug/net8.0
/src/APIs/Sxg.EvalPlatform.API.IntegrationTests/obj
/src/APIs/Sxg.EvalPlatform.API.Storage.IntegrationTests/bin/Debug/net8.0
/src/APIs/Sxg.EvalPlatform.API.Storage.IntegrationTests/obj
/src/APIs/Sxg.EvalPlatform.API.UnitTests/bin/Debug/net8.0
/src/APIs/Sxg.EvalPlatform.API.UnitTests/obj
/src/APIs/.vs
/src/APIs/Sxg.EvalPlatform.API.IntegrationTests/bin/Release/net8.0
/src/APIs/Sxg.EvalPlatform.API.Storage.UnitTests/bin/Release/net8.0
