### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
/src/APIs/.vs/Sxg.Eval.Platform.Api
/src/APIs/SXG.EvalPlatform.API/bin/Debug/net8.0
/src/APIs/SXG.EvalPlatform.API/obj
/.vs
/src/APIs/Sxg.EvalPlatform.API.IntegrationTests/bin
/src/APIs/Sxg.EvalPlatform.API.IntegrationTests/obj
/src/APIs/Sxg.EvalPlatform.API.Storage/bin/Debug/net8.0
/src/APIs/Sxg.EvalPlatform.API.Storage/obj
/src/APIs/Sxg.EvalPlatform.API.Storage.IntegrationTests/obj/Debug/net8.0
/src/APIs/Sxg.EvalPlatform.API.Storage.IntegrationTests/obj
/src/APIs/Sxg.EvalPlatform.API.Storage.UnitTests/bin
/src/APIs/Sxg.EvalPlatform.API.Storage.UnitTests/obj
/src/APIs/Sxg.EvalPlatform.API.UnitTests/obj
/src/APIs/SXG.EvalPlatform.Common/bin/Debug/net8.0
/src/APIs/SXG.EvalPlatform.Common/obj
