<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="IDDP" value="https://identitydivision.pkgs.visualstudio.com/_packaging/IDDP/NuGet/v3/index.json" />
  </packageSources>
	<packageSourceMapping>
		<packageSource key="Ev2-ArtifactsGenerator">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
